{% extends 'variety_list.html' %}
{% block variety %}
        <h1 class="bg-grey text-secondary text-center">{{ variety }}</h1>
            {% for post in variety.post_set.all %}
                <h5 class="d-inline"><a href="{% url 'post-detail' post.slug %}" class="text-secondary">
                {{post.title}}
                </a>
                <a href="{% url 'country-detail' post.country.slug %}" class="badge badge-secondary">{{ post.country }}</a>
                <a href="{% url 'type-detail' post.type.slug %}" class="badge badge-secondary">{{ post.type }}</a>
                <h6 class="text-secondary d-inline">{{ post.created_at }}</h6>

            <div class="img">
                <a href="{% url 'post-detail' post.slug %}">
                <img class="img-fluid" alt="Responsive image" src="{{ MEDIA_URL }}{{ post.wine_img }}"/>
                </a>
            </div>
            {% endfor %}
{% endblock %}