{% extends 'base.html' %}
{% block content %}
    {% for post in post_list|slice:":3" %}
        <div class="container bg2">
            <h3 class="title text-center">
                <a href="{% url 'post-detail' post.slug %}" class="text-secondary">{{ post.title }}</a>
            </h3>
            <h6 class="text-right text-secondary">{{ post.created_at|date:"Y / m / d" }}</h6>
            <h5 class="text-right text-secondary">
                <span class="badge badge-secondary"><a href="{% url 'country-detail' post.country.slug %}" class="text-light">{{ post.country }}</a></span>
                <span class="badge badge-secondary"><a href="{% url 'type-detail' post.type.slug %}" class="text-light">{{ post.type }}</a></span>
                {% for variety in post.variety.all %}
                <span class="badge badge-secondary"><a href="{% url 'variety-detail' variety.slug %}" class="text-light">{{ variety }}</a></span>
                {% endfor %}
            </h5>
            <p class="text-secondary">
                {{ post.content|safe }}
            </p>
        </div>
    {% endfor %}
{% endblock %}
