{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Variety List</h3>
            {% if variety_list %}
                <ul>
                    {% for variety in variety_list %}
                    <li>
                        <a class="text-right text-secondary" href="{% url 'variety-detail' variety.slug %}">{{ variety.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>There are no varieties.</p>
            {% endif %}
        </div>
        <div class="col-sm-9">
            {% block variety %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

<!--<div class="col-md-6 col-lg-4 col-xl-3"> 會更好-->

<!--手機上會堆疊-->
<!--平板上會2個一排-->
<!--平板橫放會3個一排-->
<!--PC 上會4個一排-->